# IDE
.idea
.vscode

# Python virtualenv
.venv
venv
poetry.lock

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
.eggs
.pytest_cache
*.egg-info

# MacOS
.DS_Store

# Build artifacts
dist
build
*.zip
